.info-form1{
    margin-top: 50px;
    margin-left: 20px;
}
.info-form2{
    margin-top:80px ;
    margin-right: 20px;

}


.step-bg{
    float: left;
    width: 100%;
    height: auto;
    background: #E1EEF6;
    font-size: 10px;
   
  
    
}
.button_cont{
    margin-top: 40px;
    float:right;
    margin-right: 50px;
}
.text-head
{
color:rgb(15, 64, 95);
 font-size: 30px;
margin-left: 50px;
-webkit-text-stroke-width: 1px;
}
.example_a {
    font-size: 15px;;
    text-align: center;
    color: gray!important;
    width: 200px;
    height: auto;
    text-transform: uppercase;
    text-decoration: none;
    background: #E1EEF6;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid rgb(196, 196, 196);
    transition: all 0.4s ease 0s;
    -webkit-text-stroke-width: 1px;
    border-radius: 20px;
    }
    .example_a:hover {
        font-size: 18px;
        width: 220px;
        background:rgb(200, 230, 248);
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px #E1EEF6;
        -moz-box-shadow: 0px 5px 40px -10px #E1EEF6;
        box-shadow: 5px 40px -10px #E1EEF6;
        transition: all 0.4s ease 0s;
        border-radius: 20px;
    }
.info-mbti{
    color: #ff5f2e;
}
.info-mbti:hover {
    color: #ff5f2e;   
}

.box-regis{

    border-radius: 30px;
  width: 65%;
  border: 2px solid rgb(168, 168, 168);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
-webkit-box-shadow: 4px 4px 5px 0px rgba(168,166,168,0.61);
-moz-box-shadow: 4px 4px 5px 0px rgba(168,166,168,0.61);
box-shadow: 4px 4px 5px 0px rgba(168,166,168,0.61);
}
.next-button-regis{
  margin-left: 70%;
  margin-bottom: 20px;

    
}
.next-button-mbti{
    //position: flex;
    text-align: center;
    //margin-bottom: 20px;
}
.info-form3-mbti{
    margin-top: 120px;
    margin-left: 20px;
    
}
.info-form3{
    margin-left: 20px;
}
.text-mbti{
font-size:16px;
}
.info-mbti1{
    border-radius: 30px;
    background: rgb(236, 236, 236);
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
    color: rgb(85, 86, 87);
}
.text-mbti2{
    padding-left:20px;
}
.text-complete{
    font-size: 20px;
    color: #ff5f2e;
}
.text-complete1{
    font-size:15px;
    color:gray;
    padding-bottom:200px ;
}
.divider {
    //background: aqua no-repeat center 0;
    height:30px;
    padding-bottom: 10px;
    width: 100%;
    position: relative;
    //float: left;
    }
.line-or{
    z-index: -1;
    margin-bottom: 1rem;
    border: 1px;
    border-top: 1.5px solid rgba(0,0,0,.1);
    position: absolute;
    width: 100%;
}
.or-text{
    width: fit-content;
    margin: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

@media(max-width:768px){
.next-button-regis{
    margin-left: 50%;
    margin-bottom: 20px;
    
  }
}
.example_b {
    font-size: 15px;;
    text-align: center;
    color: gray!important;
    width: 200px;
    height: auto;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(233, 233, 233);
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid rgb(196, 196, 196);
    transition: all 0.4s ease 0s;
    -webkit-text-stroke-width: 1px;
    border-radius: 20px;
    }
    .example_b:hover {
        font-size: 18px;
        width: 250px;
        background:rgb(245, 245, 245);
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgb(233, 233, 233);
        -moz-box-shadow: 0px 5px 40px -10px rgb(233, 233, 233);
        box-shadow: 5px 40px -10px rgb(233, 233, 233);
        transition: all 0.4s ease 0s;
        border-radius: 20px;
    }
    .checkbox-regis{
        padding-left:30px ;
        color: rgb(163, 163, 163);
    }
    .checkbox-regis:hover{
    color: rgb(66, 66, 66);
    }
    .shop-form{
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right : 20px;
        padding-left: 50px;
    }
    .time-picker-1{
        margin-left: 22px;
    }
    .time-picker-2{
        margin-bottom: 20px;
    }
    .text1{
        margin-left: 20px;
    }
    .text2{
        margin-left: 27px;
    }
    .text3{
        margin-left: 32px;
    }
    .text4{
        margin-left: 2px;
    }
    .text5{
        margin-left: 67px;
    }
    .text6{
        margin-left: 30px;
    }
    .text7{
        margin-left: 8px;
    }
    .text8{
        margin-left: 42px;
    }
    .example_c {
        font-size: 15px;;
        text-align: center;
        color: white!important;
        width: 200px;
        height: auto;
        text-transform: uppercase;
        text-decoration: none;
        background: #fcbe32;
        padding-left: 50px;
        padding-top: 10px;
        padding-right: 50px;
        padding-bottom: 10px;
        border-radius: 5px;
        display: inline-block;
        border: 1px solid white;
        transition: all 0.4s ease 0s;
        -webkit-text-stroke-width: 1px;
        border-radius: 20px;
        }
        .example_c:hover {
            font-size: 18px;
            width: 220px;
            background:#fddb8a;
            letter-spacing: 1px;
            -webkit-box-shadow: 0px 5px 40px -10px #fddb8a;
            -moz-box-shadow: 0px 5px 40px -10px #fddb8a;
            box-shadow: 5px 40px -10px #fddb8a;
            transition: all 0.4s ease 0s;
            border-radius: 20px;
        }
.next-button-regis1{
    margin-left: 70%;
    margin-bottom: 20px;
    margin-top: 40px;      
              
}
.box-regis-shop{

    border-radius: 30px;
  width: 65%;
  border: 2px solid rgb(168, 168, 168);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
-webkit-box-shadow: 4px 4px 5px 0px rgba(168,166,168,0.61);
-moz-box-shadow: 4px 4px 5px 0px rgba(168,166,168,0.61);
box-shadow: 4px 4px 5px 0px rgba(168,166,168,0.61);
}
.rabbit{
    background-image: url("../static/images/rabbit.jpg");
    height: 30vh;
    width: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
 
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari 3-8 */
  transform: rotate(270deg);
}
.fernji{
    background-image: url("../static/images/fernji.jpg");
    height: 30vh;
    width: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
 
//   -ms-transform: rotate(270deg); /* IE 9 */
//   -webkit-transform: rotate(270deg); /* Safari 3-8 */
//   transform: rotate(270deg);
}

.fernji:hover{
      .text-hoverji{
          background-color: blueviolet;
      }

}

.ferntha{
    background-image: url("../static/images/ferntha.jpg");
    height: 30vh;
    width: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
 
//   -ms-transform: rotate(270deg); /* IE 9 */
//   -webkit-transform: rotate(270deg); /* Safari 3-8 */
//   transform: rotate(270deg);
}
.fon{
    background-image: url("../static/images/fon.jpg");
    height: 30vh;
    width: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
 
//   -ms-transform: rotate(270deg); /* IE 9 */
//   -webkit-transform: rotate(270deg); /* Safari 3-8 */
//   transform: rotate(270deg);
}
.preaw{
    background-image: url("../static/images/preaw.jpg");
    height: 30vh;
    width: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
 
//   -ms-transform: rotate(270deg); /* IE 9 */
//   -webkit-transform: rotate(270deg); /* Safari 3-8 */
//   transform: rotate(270deg);
}
.ice{
    background-image: url("../static/images/ice.jpg");
    height: 30vh;
    width: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
 
//   -ms-transform: rotate(270deg); /* IE 9 */
//   -webkit-transform: rotate(270deg); /* Safari 3-8 */
//   transform: rotate(270deg);
}
.pu{
    background-image: url("../static/images/pu.jpg");
    height: 30vh;
    width: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
 
//   -ms-transform: rotate(270deg); /* IE 9 */
//   -webkit-transform: rotate(270deg); /* Safari 3-8 */
//   transform: rotate(270deg);
}
.mint{
    background-image: url("../static/images/mint.jpg");
    height: 30vh;
    width: 30vh;
    background-repeat: no-repeat;
    background-size: cover;

   
 
//   -ms-transform: rotate(270deg); /* IE 9 */
//   -webkit-transform: rotate(270deg); /* Safari 3-8 */
//   transform: rotate(270deg);
}
.card-about-us{
    border: 1px solid rgb(196, 196, 196);
    padding-right: 20px;
}

.form-about-us{
    // margin-top: 20px;
   // background-color: rgb(63, 61, 62);
    font-size:  10px;
   // color: #ff5f2e;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
}
.form-about-us:hover{
    transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ 
  filter: grayscale(0%); /* FF 35+ */
}

.text-about-us{
    padding-top: 20px;
    word-break: break-all;
  display: inline-flex;
}
.col-about-us{
    //position: relative;
    //width: 100%;
    display: table-cell;
      border-style: solid;
//   border-color: palevioletred
}
// .row
// {
//     display: table;
//     width: 100%;
//     table-layout: fixed;
//     border-spacing: 0px;
//       border-style: solid;
//   border-color: #004e66;
// }

.text-about-us{
    // background: rgb(185, 123, 123);
    font-size:  18px;
    color:black;
    //padding-top: 20px;
    
}

.submit-complete{
    padding-bottom:50px;
    margin-left: 70%;
}


.text-about-us p{
    font-size: 19px;
    color: black;
   
}
.text-about-us1{
    font-size: 5px;
   
}
.text-about-us h2{
    font-size: 22px;
    color: black;
    font-weight: bold;
    

}
.col-text-about-us{
    display: inline-block;
}
.our-team-form{
    padding-bottom:30px;
}
